body{
    margin: 0;
    padding: 0%;
}

.all{
    margin: 30px;
    padding: 30px;
    display: flex;
    gap: 150px;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    box-shadow: 100px 10px 10px 10px gainsboro;
}

.image img{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 20px;

}

.dhexe{
    margin-top: 100px;
}
.H{
    font-size: 50px;
}
.h{
    font-size: 30px;
    color: gray;
}
.img1{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 80px;
    position: absolute;
    top: 400px;
    left: 550px;
}
.img1 img{
    width: 100px;
    height: 100px;
}
.img2{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    top: 620px;
    left: 750px;
}
.btn{
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
}

.footer{
    background-color: rgb(6, 6, 75);
    width: 100%;
    height: 75px;
    color: white;
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: absolute;
    font-weight: bold;
}

.footer i{
    color: white;
    font-size: 30px;
    position: relative;
    left: 1000px;
    bottom: 60px;
}