body{
    margin: 0;
    padding: 0%;
}

.offer{
/* margin: 300px; */
text-align: center;

}
.offer h3{
    color: red;
}
.all{
    display: flex;
    gap: 30px;
    margin-left: 90px;
}
.part1{
    background-color: rgb(249, 250, 249);
    width: 300px;
    height: 200px;
    margin-left: 0px;
    text-align: center;
    line-height: 0.8;
    color: black;
}
.all i{
    font-size: 30px;
    margin-top: 30px;
    color:green;
}
.part1 h1{

}